In [1]:
import pandas as pd
import numpy as np

In [12]:
df_1 = pd.read_csv("../data/Flight delays/flight_delays_train.csv")
df_2 = pd.read_csv("../data/Flight delays/flight_delays_test.csv")

In [13]:
df = pd.concat([df_1, df_2])

In [14]:
df_1.shape, df_2.shape, df.shape

((100000, 9), (100000, 8), (200000, 9))

In [3]:
df["month"] = df["Month"].str.replace("c-", "").astype(int)
df["WeekDay"] = df["DayOfWeek"].str.replace("c-", "").astype(int)
df["MonthDay"] = df["DayofMonth"].str.replace("c-", "").astype(int)

In [4]:
df["is_weekend"] = (df["WeekDay"] == 6) | (df["WeekDay"] == 7)

In [5]:
def categorize_dist(distance):
    if distance <= 1500:
        return "short-haul"
    elif 1500 < distance <= 3000:
        return "medium-haul"
    else:
        return "long_haul"

In [6]:
df["category"] = df["Distance"].apply(categorize_dist)

In [7]:
df["time"] = pd.to_datetime(df["DepTime"], format="%H%M", errors="coerce").dt.time

In [8]:
df['time'] = df["time"].fillna("00:00")

In [9]:
df["december_holidays"] = (df["month"] == 6) | (df["month"] ==7) | (df["month"] == 8)

In [17]:
test_df.head()

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,c-8,c-21,c-7,1934,AA,ATL,DFW,732,N
1,c-4,c-20,c-3,1548,US,PIT,MCO,834,N
2,c-9,c-2,c-5,1422,XE,RDU,CLE,416,N
3,c-11,c-25,c-6,1015,OO,DEN,MEM,872,N
4,c-10,c-7,c-6,1828,WN,MDW,OMA,423,Y

In [10]:
df["Delayed"] = df["dep_delayed_15min"].map({"Y": 1, "N": 0})

In [11]:
df.drop(["Month", "DayofMonth", "DayOfWeek", "DepTime", "dep_delayed_15min"], axis=1, inplace=True)